#burger {
    transition: 0.3s;
  }
  
  #burger::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #E0E6E8;
    top: 0.45rem;
    right: 0px;
    transition: 0.3s;
  }
  
  #burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #E0E6E8;
    bottom: 0.45rem;
    right: 0px;
    transition: 0.3s;
  }
  
  #burger.active {
    background-color: #fff;
  }
  
  #burger.active::before {
    transform: rotate(45deg);
    top: 0;
  }
  
  #burger.active::after {
    transform: rotate(-45deg);
    bottom: 0;
  }