input[type='checkbox'] {
    border: none;
    z-index: 50;
    background: transparent;
}

.checkbox {
    @apply 
        flex 
        justify-center 
        items-center 
        relative 
        h-[23px] 
        w-[23px]
        rounded-[5px] 
        border
        border-gray-40
        bg-transparent;
}

.checkbox--checked {
    @apply bg-gray-550;
}

