/*** number input ***/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/*** text input ***/
input[type='text'], input[type='number'], input[type='email'], input[type='date'] { 
    @apply w-full hover:border-white;   
}

